# MICRO
/micro/.config/micro/backups/*
/micro/.config/micro/buffers/*

# QTILE
/qtile/.config/qtile/__pycache__/*

# RANGER
/ranger/.config/ranger/__pycache__/*
/ranger/.config/ranger/plugins/__pycache__/*
/ranger/.config/ranger/plugins/__init__.py
/ranger/.config/ranger/plugins/fzf-marks/__pycache__/*
/ranger/.config/ranger/plugins/ranger-devicons/__pycache__/*
/ranger/.config/ranger/plugins/ranger-gitplug/__pycache__/*

# VIFM
/vifm/.config/vifm/vifminfo*

# QUTEBROWSER
/qutebrowser/.config/qutebrowser/bookmarks/*
/qutebrowser/.config/qutebrowser/greasemonkey/*
/qutebrowser/.config/qutebrowser/qsettings/*
/qutebrowser/.config/qutebrowser/autoconfig.yml
/qutebrowser/.config/qutebrowser/quickmarks

# VIMB
/vimb/.config/vimb/bookmark
/vimb/.config/vimb/closed
/vimb/.config/vimb/command
/vimb/.config/vimb/cookies.db
/vimb/.config/vimb/history
/vimb/.config/vimb/search
