# AMP EDITOR
/amp/.config/amp/syntaxes/*

# MICRO EDITOR
/micro/.config/micro/backups/*
/micro/.config/micro/buffers/*

# QTILE WINDOW MANAGER
/qtile/.config/qtile/__pycache__/*

# RANGER FILE MANAGER
/ranger/.config/ranger/__pycache__/*
/ranger/.config/ranger/plugins/__pycache__/*
/ranger/.config/ranger/plugins/__init__.py
/ranger/.config/ranger/plugins/fzf-marks/__pycache__/*
/ranger/.config/ranger/plugins/ranger-devicons/__pycache__/*
/ranger/.config/ranger/plugins/ranger-gitplug/__pycache__/*

# QUTEBROWSER
/qutebrowser/.config/qutebrowser/bookmarks/*
/qutebrowser/.config/qutebrowser/greasemonkey/*
/qutebrowser/.config/qutebrowser/qsettings/*
/qutebrowser/.config/qutebrowser/autoconfig.yml
/qutebrowser/.config/qutebrowser/quickmarks
