" Extensions installed in my jetbrains IDEs:
"   - Dracula
"   - Tabnine
"   - IdeaVim


set number relativenumber
set highlightedyank
set ideamarks
set ideajoin
set commentary
set argtextobj
set textobj-entire
set NERDTree
set vim-paragraph-motion
set textobj-indent
set exchange
set surround

nnoremap Y y$
