[Desktop Entry]
Type=Application
TryExec=st
Exec=st
Icon=~/.local/share/applications/logo.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=st
GenericName=Terminal
Comment=A fast, no-bloat, suckless terminal emulator
StartupWMClass=st
